fail_fast: true
repos:
  - repo: local
    hooks:
      - id: system
        name: Requirements
        entry: poetry export --format=requirements.txt --without-hashes --dev --output=docs/requirements.txt
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: Line Endings
        entry: poetry run python ./dos2unix.py docs/requirements.txt
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: isort
        entry: poetry run isort .
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: Black
        entry: poetry run black .
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: MyPy
        entry: poetry run mypy --config-file=.mypyrc
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: Pylint
        entry: poetry run pylint --rcfile=.pylintrc src/apologies tests
        pass_filenames: false
        language: system
