name: Test Suite
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '05 17 15 * *'  # 15th of the month at 5:05pm UTC
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.10" ]
        #os: [ubuntu-latest, macos-latest, windows-latest]
        #python: ["3.7", "3.8", "3.9", "3.10" ]
    runs-on: ${{ matrix.os }}
    env:
      # Run builds using a specific version of Poetry, to avoid surprises
      POETRY_VERSION: "1.2.0"
      # Ensure that Poetry never tries to unlock a keyring, which will either fail or hang
      # See: https://github.com/python-poetry/poetry/issues/2692#issuecomment-1235683370
      PYTHON_KEYRING_BACKEND: "keyring.backends.null.Keyring"
    steps: 
      - name: Check out code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Platform information
        run: |
          python -c "import sys;print('Python %s' % sys.version)"
          python -c "import platform;print('Platform\n%s' % '\n'.join([ '   %s: %s' % i for i in zip(['system','node','release','version','machine','processor'], platform.uname()) if i[1] ]))"
      - name: Install Poetry
        uses: snok/install-poetry@v1.2.1 # see https://github.com/snok/install-poetry
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install Poetry plugins
        run: |
          poetry self add poetry-plugin-export
      - name: Load cached dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: |
          poetry install --sync
      - name: Upgrade embedded tools within virtualenv
        run: |
          poetry run pip install --upgrade pip setuptools wheel
      - name: Run Tox test suite
        run: |
          poetry run tox -c .toxrc -e "checks,coverage"
      - name: Upload coverage data to coveralls.io
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ runner.os }}-python${{ matrix.python }}
          COVERALLS_PARALLEL: true
        run: | 
          poetry run coveralls --service=github
  coveralls:
    name: Indicate completion to coveralls.io
    needs: build
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Finished
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip3 install --upgrade coveralls
        coveralls --service=github --finish
