# vim: set ft=yaml ts=2 sw=2:
name: Test Suite
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '05 17 15 * *'  # 15th of the month at 5:05pm UTC
jobs:
  build:
    strategy:
      matrix:
        #os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        #python: ["3.7", "3.8", "3.9", "3.10" ]
        python: ["3.10" ]
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    env:
      # Prevent Poetry v1.2.0 from using the Python keyring, which sometimes fails or hangs on Linux
      # See: https://github.com/python-poetry/poetry/issues/2692#issuecomment-1235683370
      PYTHON_KEYRING_BACKEND: "keyring.backends.null.Keyring"
    steps: 
      - name: Check out code
        uses: actions/checkout@v3
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install Poetry
        uses: ./.github/actions/install-poetry
        with:
          version: "1.2.0" # install a specific version of Poetry, to avoid surprises
      - name: Install Poetry plugins
        shell: bash
        run: |
          # Install Poetry plugins
          poetry self add poetry-plugin-export
      - name: Load Cached Dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        shell: bash
        run: |
          # Install dependencies
          poetry install --sync --no-interaction
      - name: Run Tox test suite
        shell: bash
        run: |
          # Run Tox test suite
          poetry run tox -c .toxrc -e "checks,coverage"
      - name: Upload coverage data to coveralls.io
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ runner.os }}-python${{ matrix.python }}
          COVERALLS_PARALLEL: true
        run: | 
          # Upload coverage data to coveralls.io
          poetry run coveralls --service=github
  coveralls:
    name: Indicate completion to coveralls.io
    needs: build
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Finished
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Indicate completion to coveralls.io
        pip3 install --upgrade coveralls
        coveralls --service=github --finish
